matplotlib
librosa
tqdm
pandas
numba
numpy
scipy
PyYAML
tensorboardX
pyloudnorm
setuptools>=41.0.0
g2p_en
resemblyzer
webrtcvad
tensorboard
scikit-learn
scikit-image
textgrid
jiwer
pycwt
PyWavelets
praat-parselmouth
jieba
einops
chardet